.list-group-item:hover{
    outline: 4px solid  rgb(148, 22, 165);
}
.card{
    outline: 2px solid  rgb(148, 22, 165);
}
.btn-main{
    display: inline-block;
    text-align: center;
    margin-top: 60px;
    padding: 4px 7px;
    font-size: 18px;
    border: none;
    background-color: #7f2899;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 5px 10px rgba(0,0,0, .4);  
    transition: all .09s ease-out;
}
.btn-main:hover{
    box-shadow: 0 5px 10px rgba(52,17,148, .5);  
    transform: scale(1.05);
}
.btn-main a{
    text-decoration: none;
    color: white;
}
.button_exit{
    justify-content: space-around;
}
